<%# content_for :title, "Users" %>



<!--<h1>User</h1>-->

<p></p>



<div class="recent-orders">
  <div class="table-header">
    <h2>Users</h2>
    <%= link_to new_user_path, class: "new-user-btn" do %>
      <span class="material-icons-sharp">add</span>
    <% end %>
  </div>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Name</th>
        <th>Mobile Number</th>
        <th>Email</th>
        <th>Active status</th>
        <th>Del status</th>

      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <%= render user %> 
      <% end %>
    </tbody>
  </table>
</div>


