<% content_for :title, "Editing entity info" %>

<h1>Editing entity info</h1>

<%= render "form", entity_info: @entity_info %>

<br>

<div>
  <%= link_to "Show this entity info", @entity_info %> |
  <%= link_to "Back to entity infos", entity_infos_path %>
</div>
